body{font-family: "Poppins", sans-serif;
background-color: #272044;}



.container{max-width: 1400px;
           margin: 0 auto;}

.grid {display: grid;
grid-template-columns: 1fr 2fr 2fr;
grid-gap: 64px;}

header {background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/ava-coploff-tcE9zSc2SU8-unsplash.jpg");
    color:white;
    background-repeat: none;
    background-size: cover;
    text-align: center;
    padding: 200px 0;}

header h1{
        font-size: 96px;
        font-weight: 700;
        line-height: 1;
        margin: 30px 0;
        
    }

header h2{
        font-size: 40px;
        font-weight: 400;
        line-height: 1.5;
        margin:0;
    }
header h3{
        font-size: 24px;
        font-weight: 900;
        line-height: 1.5;
        letter-spacing: 5px;
        margin:0;
    }

header a{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin:0;
    background-color: white;
    text-decoration: none;
    padding:16px 32px;
    margin-top:32px;
    display:inline-block;
    color:#272044;

}
footer{color: white;
background-image: linear-gradient(rgba(39,32,68,0.9),rgba(39,32,68,0.9)), url("../images/line-kjaer-6jlX9VBtg_c-unsplash.jpg");
background-repeat: none;
background-size: cover;
padding:100px 0;}

footer h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin:0;
}

footer p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.7;
}
footer ul{
    margin:0;
    padding:0;
}
footer li{
    list-style: none;
    margin:0;
    padding:0;
    font-size: 14px;
}

footer a{
    color: white;
    opacity: 0.7;
}

section{max-width: 1200px;
        margin:0 auto;}



@media (max-width:960px){header{
    padding:60px 0;
}

header h1 {font-size: 48px;}
header h2 {font-size: 20px;}
header h2 {font-size: 12px;}
}
