body{font-family: "Poppins", sans-serif;
background-color: #272044;}



.container{max-width: 1400px;
           margin: 0 auto;}

.grid {display: grid;
grid-gap: 64px;}

.grid-2-columns{
    grid-template-columns: auto auto;

}

.grid-3-columns-with-first-narrow{
    grid-template-columns: 1fr 2fr 2fr;
}

header {background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/ava-coploff-tcE9zSc2SU8-unsplash.jpg");
    color:white;
    background-repeat: none;
    background-size: cover;
    text-align: center;
    padding: 200px 0;}

header h1{
        font-size: 96px;
        font-weight: 700;
        line-height: 1;
        margin: 30px 0;
        
    }

header h2{
        font-size: 40px;
        font-weight: 400;
        line-height: 1.5;
        margin:0;
    }
header h3{
        font-size: 24px;
        font-weight: 900;
        line-height: 1.5;
        letter-spacing: 5px;
        margin:0;
    }

header a{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin:0;
    background-color: white;
    text-decoration: none;
    padding:16px 32px;
    margin-top:32px;
    display:inline-block;
    color:#272044;

}
footer{color: white;
background-image: linear-gradient(rgba(39,32,68,0.9),rgba(39,32,68,0.9)), url("../images/line-kjaer-6jlX9VBtg_c-unsplash.jpg");
background-repeat: none;
background-size: cover;
}

footer h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin:0;
}

footer p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.7;
}
footer ul{
    margin:0;
    padding:0;
}
footer li{
    list-style: none;
    margin:0;
    padding:0;
    font-size: 14px;
}
.text-center{text-align: center;}
footer a{
    color: white;
    opacity: 0.7;
}
.grid-3-columns{
    grid-template-columns: 1fr 1fr 1fr;

}
.card{background-color: white;
margin:30px 0;}

.card-body{padding:30px;}
.card-footer{padding: 0 30px 30px;}

section{max-width: 100%x;
        margin:0 auto;
    padding:100px ;}



main{background-color: white;}

main h2 {
font-size: 16px;
font-weight: 700;
line-height: 1.5 px;
letter-spacing: 5px;
color: #272044;
opacity: 0.3;
text-transform: uppercase;
margin: 0;

}
main h3{
font-size:40px;
font-weight:700;
line-height: 1.5;
color: #272044;
margin: 0;

}

main h4 {font-weight:700;
    font-size:24px;
    line-height:1;
    color:#272044;
    margin:0;
}

main h5 {font-weight:700;
        font-size:13px;
        line-height:1;
        margin: 0;
        color:#272044;
}


main p{
font-style:normal;
font-weight:400;
font-size:16px;
line-height: 1.5;
color: #272044;
opacity: 0.7;

}

.embed{width:100%;
aspect-ratio: 1 /1;}

.grid img {
    width: 100%; 
    height: auto; 
    
    
  }
.img-responsive{width: 100%;
    display: block;
}

section.secondary{
    background-color: #F8F8F8;
}
.card-header.grid {
    grid-gap: 0;
}

.btn { display: block;
color:white;
font-weight:700;
font-size:14px;
line-height:1.5;
text-align:center;
letter-spacing:3px;
text-transform:uppercase;
padding:16px;
background-color: #462cb3;
text-decoration: none;}


@media (max-width:960px){header{
    padding:60px 0;
}

header h1 {font-size: 48px;}
header h2 {font-size: 20px;}
header h2 {font-size: 12px;}

.grid{
    grid-template-columns: 1fr;
    grid-gap: 32px;
}
section {padding:30px;}

.card-header img{display: none;}
.card-header embed{display: none;}
.embed{aspect-ratio: 16/9;}
}
